# code: language=ansible
---
- name: Install extensions
  become: true
  become_user: '{{ item.0.username }}'
  visual_studio_code_install_extension:
    executable: '{{ visual_studio_code_exe }}'
    name: '{{ item.1 }}'
  with_subelements:
    - '{{ users }}'
    - visual_studio_code_extensions
    - skip_missing: true
  loop_control:
    label: '{{ item.0.username }}: {{ item.1 }}'
