{{ ansible_managed | comment }}
[code]
name=Visual Studio Code
baseurl={{ visual_studio_code_mirror }}/yumrepos/vscode
enabled=1
type=rpm-md
gpgcheck=1
gpgkey={{ visual_studio_code_mirror }}/keys/microsoft.asc
