{{ ansible_managed | comment }}
[code]
name=Visual Studio Code
baseurl={{ packages_microsoft_com }}/yumrepos/vscode
enabled=1
type=rpm-md
gpgcheck=1
gpgkey={{ packages_microsoft_com }}/keys/microsoft.asc
